$green-sea: #16a085;

.btn {
  border-radius: 0;

  &.btn-success {
    background-color: $green-sea;
    border-color: $green-sea;
    color: white;

    &:hover, &:active, &:focus {
      background-color: lighten($green-sea, 5%) !important;
      color: white;
    }
  }

  .fa {
    margin-right: 5px;
  }
}

.page-selector{
  width:60px;
}

.selectButtons{
  float: right;
}

.me-container{
  margin-top: 20px;
}

.error{
  color: red;
}