$green-sea: #16a085;

.btn {
  border-radius: 0;

  &.btn-success {
    background-color: $green-sea;
    border-color: $green-sea;
    color: white;

    &:hover, &:active, &:focus {
      background-color: lighten($green-sea, 5%) !important;
      color: white;
    }
  }

  .fa {
    margin-right: 5px;
  }
}


.item-group {
  margin-bottom: 100px;
}

.inspire-logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.filter {
  margin-bottom: 30px;
}

.big{
  height:1000px;
  width:1000px;
}

.dropdown-button{
  outline: none;
  border: none;
  background-color: #FFF;
}

.page-selector{
  width:60px;
}

.selectButtons{
  float: right;
}