<me-toolbar [canSave]="previewMode" (save)="onSave()" (onSearchRecordClick)="searchRecords($event)" (onCollectionChange)="onCollectionChange($event)"></me-toolbar>
<div class="container me-container">
  <me-actions></me-actions>
  <div class="me-bar">
    Results
  </div>

  <ul class="list-unstyled">
    <div *ngIf="totalRecords === 0 && !errorMessage" class="alert alert-danger">
      <span>No results found</span>
    </div>
    <div *ngIf="errorMessage" class="alert alert-warning">
      <span>{{errorMessage}}</span>
    </div>
    <div *ngIf="successMessage" class="alert alert-success">
        <span>{{successMessage}}</span>
      </div>
    <div *ngIf="totalRecords > 0">
      <div class="tag-filter">
        <label>Show only:</label>
        <me-autocomplete-input type="text" name="key" [tagsEnabled]="true" (valueChange)="filterRecords($event)" placeholder="field key">
        </me-autocomplete-input>
      </div>
      <div class="preview-border">
        <button class="btn-success button" (click)="onPreviewClick()">Preview</button>
      </div>
      <div class="row">
        <div class="col-md-2">
          <span>
            <button *ngIf="!allSelected" class="button" (click)="selectAll()" > Select all</button>
            <button *ngIf="allSelected" class="button" (click)="deselectAll()" > Deselect all</button>
          </span>
        </div>
        <div class="col-md-2  col-md-offset-5">
          <span>{{totalRecords}} records found</span>
        </div>
        <div class="col-md-3">
          <pagination [totalItems]="totalRecords" [(ngModel)]="currentPage" [maxSize]="3" class="pagination-md" [boundaryLinks]="false"
            [rotate]="false" (pageChanged)="onPageChange($event.page)" [itemsPerPage]="pageSize" [align]="false"></pagination>
        </div>
      </div>
      <li *ngFor="let record of records; let count = index; trackBy: trackByFunction" class="list-group list-group-item">
        <input type="checkbox" [(ngModel)]="recordSelectionStatus[uuids[count]]">
        <div *ngIf="previewMode === false;then recordView else diffView"></div>
        <ng-template #diffView>
          <div *ngIf="validationErrors[count]">
            <span class="alert-danger">{{validationErrors[count]}}</span>
          </div>
          <me-diff-view [oldObject]="filterRecord(record)" [newObject]="filterRecord(newRecords[count])"></me-diff-view>
        </ng-template>
        <ng-template #recordView>
          <pre>{{filterRecord(record) | json}} </pre>
        </ng-template>
      </li>
      <pagination class="align-right" [totalItems]="totalRecords" [(ngModel)]="currentPage" [maxSize]="3" class="pagination-md"
        [boundaryLinks]="false" [rotate]="false" [itemsPerPage]="pageSize" [align]="false"></pagination>
    </div>
  </ul>
</div>