<div class="container">
  <div class="row">
    <div *ngIf="action.selectedAction == 'Addition'">
        <me-addition-template [action]=action></me-addition-template>        
  </div>
  <div *ngIf="action.selectedAction == 'Update'">
      <me-update-template [action]=action></me-update-template>
  </div>
  <div *ngIf="action.selectedAction == 'Deletion'">
      <me-deletion-template [action]=action></me-deletion-template>
  </div>
</div>
<button class="button" (click)="deleteElement()">Remove Action</button>
</div>