<label>Action</label>
<div class="btn-group" dropdown>
  <select class="form-control" [ngModel]="actionName" (ngModelChange)="onActionChange($event)">
      <option value="Addition">Addition</option>
      <option value="Deletion">Deletion</option>
      <option value="Update">Update</option>
  </select>
</div>
<li class="list-unstyled" *ngFor="let action of userActions.actions; let count = index ">
  <me-action-template (onActionDeleted)="onActionDeleted($event)" [action]=action [id]=count></me-action-template>
</li>
<button class="button" (click)="addDefaultAction()">Add action</button>

<li class="list-unstyled" *ngFor="let condition of userActions.conditions; let count = index ">
  <me-conditions-template (onConditionDeleted)="onConditionDeleted($event)" [condition]=condition [id]=count></me-conditions-template>
</li>
<button class="button" (click)="addDefaultCondition()">Add condition</button>

<button class="button" (click)="onPreviewClick()">Preview Actions</button>