<label>Field:</label>
<input type="text" [(ngModel)]="action.mainKey" class="form-control input-field" placeholder="field key...">
<p>when value</p>
<div class="btn-group" dropdown>
  <select class="form-control selector collection-selector" [ngModel]="action.matchType" (ngModelChange)="onCollectionChange($event)">
  <option *ngFor="let matchType of matchTypes" [ngValue]="matchType" > {{matchType}} </option>
  </select>
</div>
<input type="text" [(ngModel)]="action.updateValue" class="form-control input-field" placeholder="replace value...">
<p>replace it with</p>
<input type="text" [(ngModel)]="action.value" class="form-control input-field" placeholder="new value..">